<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Javni gradski prijevoz</title>

<head>
    <link rel="stylesheet" th:href="@{/app.css}">
    <div class="topnav">
        <a href="/rute">Rute</a>
        <a href="/administratori">Administratori</a>
    </div>
</head>


<body>
    <h2>
        <span>Ruta </span>
        <span th:text="${ruta.naziv}"></span>
    </h2>
    <form class="formline" th:action="@{/view/__${prev_id}__}">
        <input class="button" type="submit" value="Prethodna ruta">
    </form>
    <form class="formline" th:action="@{/view/__${next_id}__}">
        <input class="button" type="submit" value="Sljedeća ruta">
    </form>

    <br>
    <br>
    <form action="/ruta/update" th:object="${update_ruta}" method="post">
        <input type="hidden" name="id" th:value="${ruta.id}">
        <label for="naziv">Naziv rute:</label>
        <input class="nazivRute" type="text" name="naziv" th:value="${ruta.naziv}"><br><br>
        <label for="adminId">Administrator:</label>
        <select class="selectAdmin" name="adminId">
            <option th:each="admin: ${admins}" th:value="${admin.id}" th:text="${admin.naziv}"
                th:selected="${admin.id == ruta.admin.id}"></option>
        </select>
        <br><br>
        <input class="button" type="submit" value="Spremi">
    </form>
    <form class="izbrisi" th:action="@{/ruta/delete/__${ruta.id}__}" method="post">
        <input class="button" type="submit" value="Izbriši">
    </form>

    <br>
    <hr>
    <br>
    <h3>Stanice</h3>
    <hr>

    <table>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Lokacija</th>
            <th>Zona</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="stanica: ${stanice}">
            <td class="id" th:text="${stanica.id}" />
            <td th:text="${stanica.naziv}" />
            <td class="lokacija" th:text="${stanica.lokacija}" />
            <td th:text="${stanica.zona}" />
            <td>
                <form th:action="@{/edit/__${stanica.id}__(rutaId=${ruta.id})}" method="post">
                    <input class="button" type="submit" value="Uredi">
                </form>
            </td>
            <td>
                <form th:action="@{/ruta/remove/__${ruta.id}__(stanicaId=${stanica.id})}" method="post">
                    <input class="button" type="submit" value="Ukloni">
                </form>
            </td>
        </tr>
    </table>
    <hr>
    
    <form th:action="@{/ruta/add/__${ruta.id}__}" method="post">
        <select name="stanicaId">
            <option th:each="stanica: ${sve_stanice}" th:value="${stanica.id}" th:text="${'#' + stanica.id + ' ' + stanica.naziv}"></option>
        </select>
        <input class="button" type="submit" value="Dodaj stanicu na rutu">
    </form>
    <br>
    
    <form th:action="@{/edit(rutaId=${ruta.id})}" method="post">
        <input class="button" type="submit" value="Nova stanica na ruti">
    </form>
    <br>

</body>

</html>