<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Javni gradski prijevoz</title>

<head>
    <a href="/admin">Administratori</a>
</head>

<body>

    <br>
    <br>
    <form th:action="@{/__${prev_id}__}">
        <input type="submit" value="Prethodna ruta"></button>
    </form>
    <form th:action="@{/__${prev_id}__}">
        <input type="submit" value="Sljedeća ruta"></button>
    </form>

    <br>
    <br>
    <form action="/ruta/update" th:object="${update_ruta}" method="post">
        <input type="hidden" name="id" th:value="${ruta.id}">
        <label for="naziv">Naziv rute:</label>
        <input type="text" name="naziv" th:value="${ruta.naziv}"><br><br>
        <label for="adminId">Administrator:</label>
        <select name="adminId">
            <option th:each="admin: ${admins}" th:value="${admin.id}" th:text="${admin.naziv}"
                th:selected="${admin.id == ruta.admin.id}"></option>
        </select>
        <br><br>
        <input type="submit" value="Spremi">
    </form>
    <form th:action="@{ruta/delete/__${ruta.id}__}" method="post">
        <input type="submit" value="Izbriši"></button>
    </form>

    <br>
    <hr>
    <br>
    <h3>Stanice</h3>
    <hr>

    <table>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Lokacija</th>
            <th>Zona</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="stanica: ${stanice}">
            <td th:text="${stanica.id}" />
            <td th:text="${stanica.naziv}" />
            <td th:text="${stanica.lokacija}" />
            <td th:text="${stanica.zona}" />
            <td>
                <form th:action="@{/edit/__${stanica.id}__(rutaId=${ruta.id})}" method="post">
                    <input type="submit" value="Uredi"></button>
                </form>
            </td>
            <td>
                <form th:action="@{/ruta/remove/__${ruta.id}__(stanicaId=${stanica.id})}" method="post">
                    <input type="submit" value="Ukloni"></button>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <button type="button">Nova stanica</button>

</body>

</html>