<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Administratori - Javni gradski prijevoz</title>

<head>
    <link rel="stylesheet" th:href="@{/app.css}">
    <div class="topnav">
        <a href="/rute">Rute</a>
        <a href="/administratori">Administratori</a>
    </div>
</head>

<body>

    <h2>Rute</h2>
    <form class="form-inline" action="/rute">
        <input class="nazivRute" type="text" name="term" th:value="${term}"><br><br>
        <input class="button" type="submit" value="Pretraži">
    </form>
    <hr>
    <table>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Administrator</th>
            <th></th>
        </tr>
        <tr th:each="ruta: ${rute}">
            <td class="id" th:text="${ruta.id}" />
            <td th:text="${ruta.naziv}" />
            <td th:text="${ruta.admin.naziv}" />
            <td>    
                <form th:action="@{/view/__${ruta.id}__}" method="get">
                    <input class="button" type="submit" value="Više detalja">
                </form>
            </td>
        </tr>
    </table>

</body>

</html>