<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Administratori - Javni gradski prijevoz</title>

<head>
</head>

<body>

    <h3>Administratori</h3>
    <hr>
    <table>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Email</th>
        </tr>
        <tr th:each="admin: ${admins}">
            <td th:text="${admin.id}" />
            <td th:text="${admin.naziv}" />
            <td th:text="${admin.mail}" />
        </tr>
    </table>

</body>

</html>