<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Administratori - Javni gradski prijevoz</title>
<head>
</head>
<body>

<h3>Administratori</h3>
<hr>
<table>
  <tr>
    <th>#</th>
    <th>Naziv</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>1</td>
    <td>Admin1</td>
    <td>admin1@admin.com</td>
    <td><button type="button">Uredi</button></td>
    <td><button type="button">Izbrši</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Admin2</td>
    <td>admin2@admin.com</td>
    <td><button type="button">Uredi</button></td>
    <td><button type="button">Izbrši</button></td>
  </tr>
</table>
<br>
<button type="button">Novi administrator</button>

</body>
</html>