<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Stanica - Javni gradski prijevoz</title>

<head>
    <link rel="stylesheet" th:href="@{/app.css}">
    <div class="topnav">
        <a href="/rute">Rute</a>
        <a href="/administratori">Administratori</a>
    </div>
</head>

<body>

    <h2>Zahtjev za stanicu</h2>
    <hr>
    <form th:action="@{/stanica/request(rutaId=${rutaId})}" th:object="${stanica}" method="post">
        <input type="hidden" name="id" th:value="${stanica.id}">
        <label for="naziv">Naziv:</label>
        <input type="text" name="naziv" th:value="${stanica.naziv}"><br><br>
        <label for="lokacija">Lokacija:</label>
        <input type="text" name="lokacija" th:value="${stanica.lokacija}"><br><br>
        <label for="zonaId">Zona:</label>
        <select name="zonaId">
            <option th:each="zona: ${zone}" th:value="${zona.id}" th:text="${zona.naziv}"
                th:selected="${zona.id == stanica.zona.id}"></option>
        </select>
        <br><br>
        <input class="button" type="submit" value="Napravi zahtjev">
    </form>

</body>

</html>